<table class="table table-compact">
    <thead>
    <tr>
        <th class="left" colspan="5"><h6>Now playing</h6></th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <th class="left" colspan="3">Title</th>
        <th class="left" colspan="3">Artist</th>
        <th class="right"><clr-icon shape="trash" class="selectable" (click)="clearTracks()"></clr-icon></th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngIf="(tlTracks$ | async).length > 0; else noTracks">
        <tr *ngFor="let tlTrack of (tlTracks$ | async); index as i">
            <td class="left" colspan="3">
                <clr-icon *ngIf="(index$ | async) === i" shape="music-note" class="is-solid current-track"></clr-icon>
                <clr-tooltip>
                    <a clrTooltipTrigger class="selectable" (click)="playTrack(tlTrack)"> {{tlTrack.track.name}}</a>
                    <clr-tooltip-content clrPosition="top-left" clrSize="sm" *clrIfOpen>
                        <span>{{tlTrack.track.name}}</span>
                    </clr-tooltip-content>
                </clr-tooltip>
            </td>
            <td class="left" colspan="3">
                <clr-tooltip>
                    <label clrTooltipTrigger>{{tlTrack.track.artists[0].name}}</label>
                    <clr-tooltip-content clrPosition="top-left" clrSize="sm" *clrIfOpen>
                        <span>{{tlTrack.track.artists[0].name}}</span>
                    </clr-tooltip-content>
                </clr-tooltip>
            </td>
            <td class="right">
                <clr-icon shape="times" class="selectable" (click)="removeTrack(tlTrack)"></clr-icon>
            </td>
        </tr>
    </ng-container>
    <ng-template #noTracks>
        <tr>
            <td>Tracklist empty.</td>
        </tr>
    </ng-template>
    </tbody>
</table>

<clr-tabs *ngIf="(currentTrack$ | async)">
    <clr-tab>
        <button clrTabLink id="link1">Details</button>
        <clr-tab-content id="content1" *clrIfActive>
            <div class="card">
                <div class="card-img">
                    <img [src]="(images$ | async)[(currentTrack$ | async).uri]">
                </div>
                <div class="card-block">
                    <h4 class="card-title">{{(currentTrack$ | async).name}}</h4>
                    <p class="card-text">{{(currentTrack$ | async)?.artists[0].name}}</p>
                    <p class="card-text">{{(currentTrack$ | async)?.album.name}} ({{(currentTrack$ | async).date}})</p>
                </div>
            </div>
        </clr-tab-content>
    </clr-tab>
    <clr-tab>
        <button clrTabLink>Lyrics</button>
        <clr-tab-content *clrIfActive>
            <div class="card">
                <div class="card-header">
                    {{(currentTrack$ | async).name}}
                    <p class="card-text">{{(currentTrack$ | async)?.artists[0].name}}</p>
                    <p class="card-text">{{(currentTrack$ | async)?.album.name}} ({{(currentTrack$ | async).date}})</p>
                </div>
                <div class="card-block">
                    <p class="card-text">{{(lyrics$ | async)[(currentTrack$ | async).uri]}}</p>
                </div>
            </div>
        </clr-tab-content>
    </clr-tab>
</clr-tabs>

