:host {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #EEEEEE;

    table {
        margin-top: 0;

        thead, tbody tr {
            display: table;
            width: 100%;
            table-layout: fixed;
        }

        thead {
            h6 {
                margin-top: 0;
            }
        }

        tbody {
            display: block;
            max-height: 300px;
            overflow: auto;

            td {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;

                .current-track {
                    margin-right: 4px;
                }

                .selectable {
                    cursor: pointer;
                }
            }
        }
    }

    clr-tabs {
        .card {
            margin-top: 0;
        }
    }
}
