<div class="music-browser">
    <table class="table">
        <thead>
        <tr>
            <th class="left">Album artists</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let artist of artists$ | async" class="selectable" (click)="getAlbums(artist.uri)">
            <td class="left">{{artist.name}}</td>
        </tr>
        </tbody>
    </table>
    <table class="table">
        <thead>
        <tr>
            <th class="left">Albums</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let album of albums$ | async" class="selectable" (click)="getTracks(album.uri)">
            <td class="left">{{album.name}}</td>
        </tr>
        </tbody>
    </table>
</div>

<app-tracks-table
    [tracks]="(tracks$ | async)"
    (queueNow)="queueNow($event)"
    (queueNext)="queueNext($event)"
    (queueLast)="queueLast($event)">
</app-tracks-table>
