<section>
    <a clrVerticalNavLink routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <clr-icon clrVerticalNavIcon shape="home"></clr-icon>
        Home
    </a>
    <a clrVerticalNavLink routerLink="/queue" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <clr-icon clrVerticalNavIcon shape="headphones"></clr-icon>
        Now Playing
    </a>
    <clr-vertical-nav-group *ngIf="(localDirectoryExists$ | async)" routerLinkActive="active">
        <a routerLink="/local" hidden aria-hidden="true"></a>
        <clr-icon shape="library" clrVerticalNavIcon></clr-icon>
        Local
        <clr-vertical-nav-group-children *clrIfExpanded="true">
            <a clrVerticalNavLink routerLink="/local/songs" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <clr-icon shape="music-note"></clr-icon>
                Songs
            </a>
            <a clrVerticalNavLink routerLink="/local/browse" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <clr-icon shape="folder"></clr-icon>
                Browse
            </a>
            <a clrVerticalNavLink routerLink="/local/playlists" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <clr-icon shape="number-list"></clr-icon>
                Playlists
            </a>
        </clr-vertical-nav-group-children>
    </clr-vertical-nav-group>
    <clr-vertical-nav-group *ngIf="(spotifyWebDirectoryExists$ | async)" routerLinkActive="active">
        <a routerLink="/spotify" hidden aria-hidden="true"></a>
        <img clrVerticalNavIcon src="assets/spotify.svg">
        Spotify
        <clr-vertical-nav-group-children *clrIfExpanded="true">
            <a clrVerticalNavLink routerLink="/spotify/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <clr-icon shape="dashboard"></clr-icon>
                Dashboard
            </a>
            <a clrVerticalNavLink routerLink="/spotify/browse" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <clr-icon shape="folder"></clr-icon>
                Browse
            </a>
            <a clrVerticalNavLink routerLink="/spotify/playlists" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <clr-icon shape="number-list"></clr-icon>
                Playlists
            </a>
            <a clrVerticalNavLink routerLink="/spotify/discover" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <clr-icon shape="radar"></clr-icon>
                Discover
            </a>
            <a clrVerticalNavLink routerLink="/spotify/radio" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <clr-icon shape="network-globe"></clr-icon>
                Radio
            </a>
            <a clrVerticalNavLink routerLink="/spotify/stations" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <clr-icon shape="users"></clr-icon>
                Stations
            </a>
        </clr-vertical-nav-group-children>
    </clr-vertical-nav-group>
    <a clrVerticalNavLink routerLink="/search" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <clr-icon clrVerticalNavIcon shape="search"></clr-icon>
        Search
    </a>
</section>
<section>
    <a clrVerticalNavLink routerLink="/settings" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <clr-icon clrVerticalNavIcon shape="cog"></clr-icon>
        Settings
    </a>
</section>
