<section>
    <a clrVerticalNavLink routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <clr-icon clrVerticalNavIcon shape="home"></clr-icon>
        Home
    </a>
    <clr-vertical-nav-group *ngIf="(localDirectoryExists$ | async)">
        <clr-icon shape="library" clrVerticalNavIcon></clr-icon>
        Local
        <clr-vertical-nav-group-children>
            <a clrVerticalNavLink routerLink="/local/songs" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <clr-icon shape="music-note"></clr-icon>
                Songs
            </a>
            <a clrVerticalNavLink routerLink="/local/browse" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <clr-icon shape="folder"></clr-icon>
                Browse
            </a>
            <a clrVerticalNavLink routerLink="/local/playlists" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <clr-icon shape="number-list"></clr-icon>
                Playlists
            </a>
        </clr-vertical-nav-group-children>
    </clr-vertical-nav-group>
    <clr-vertical-nav-group *ngIf="(spotifyWebDirectoryExists$ | async)">
        <img clrVerticalNavIcon src="assets/spotify.svg">
        Spotify
        <clr-vertical-nav-group-children>
            <a clrVerticalNavLink routerLink="/">
                <clr-icon shape="dashboard"></clr-icon>
                Home
            </a>
            <a clrVerticalNavLink routerLink="/">
                <clr-icon shape="folder"></clr-icon>
                Browse
            </a>
            <a clrVerticalNavLink routerLink="/">
                <clr-icon shape="number-list"></clr-icon>
                Playlists
            </a>
            <a clrVerticalNavLink routerLink="/">
                <clr-icon shape="radar"></clr-icon>
                Discover
            </a>
            <a clrVerticalNavLink routerLink="/">
                Radio
            </a>
            <a clrVerticalNavLink routerLink="/">
                <clr-icon shape="grid-chart"></clr-icon>
                Stations
            </a>
        </clr-vertical-nav-group-children>
    </clr-vertical-nav-group>
    <a clrVerticalNavLink routerLink="/search">
        <clr-icon clrVerticalNavIcon shape="search"></clr-icon>
        Search
    </a>
</section>
<section>
    <a clrVerticalNavLink routerLink="/settings">
        <clr-icon clrVerticalNavIcon shape="cog"></clr-icon>
        Settings
    </a>
</section>
