<main class="mat-app-background" [class]="(theme$ | async)">
    <app-header></app-header>
    <section>
        <div class="content"><router-outlet></router-outlet></div>
        <nav><app-side-nav></app-side-nav></nav>
        <aside><app-music-nav></app-music-nav></aside>
    </section>
    <app-player></app-player>
</main>
<!--<mat-sidenav-container>
    <mat-sidenav opened mode="side">
        <mat-toolbar color="primary">Menu</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item href="/first-page">First Page</a>
            <a mat-list-item href="/second-page">Second Page</a>
            <a mat-list-item href="/third-page">Third Page</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav opened mode="side" position="end">End content</mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" mat-icon-button>
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>Application Title</span>
        </mat-toolbar>
        <label>Pages go here</label>
    </mat-sidenav-content>
</mat-sidenav-container>-->
