main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    app-header {
        height: 64px;
    }

    section {
        display: flex;
        flex-direction: row;
        flex: 1 0 0;
        min-height: 0;

        .content {
            display: flex;
            flex-direction: column;
            flex: 1 0 auto;
            overflow: auto;
            padding: 40px;
        }

        nav {
            flex: 0 0 15%;
            order: -1;
            overflow: auto;
        }

        aside {
            flex: 0 0 17.5%;
        }
    }

    app-player {
        height: 110px;
    }
}
