:host {
    flex: 0 0 10%;
    background-color: #D9E4EA;
    padding: 20px 40px;

    .controls {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        clr-icon {
            margin: 0 8px;
            cursor: pointer;

            &:hover {
                color: #737373;
            }

            &.text-primary:hover {
                color: red;
            }
        }
    }

    .track-progress {
        display: flex;
        flex-direction: row;
        align-items: center;

        label {
            margin: 0 8px;
        }
    }
}
