form {
    .card {

        .backend {
            margin-top: 0;
        }

        td {
            clr-select-container {
                margin-right: 1rem;
            }
        }

        clr-checkbox-wrapper {
            label {
                margin-top: 1rem;
            }
        }

        tfoot {
            button {
                margin-top: 1rem;
            }
        }
    }
}
