<div class="main-container">
    <header class="header-6">
        <app-header></app-header>
    </header>
    <main class="content-container">
        <section>
            <article>
                <div class="content-area">
                    <router-outlet></router-outlet>
                </div>
                <app-player></app-player>
            </article>
            <app-music-nav *ngIf="(currentRoute$ | async) !== '/queue'">
            </app-music-nav>
        </section>
        <clr-vertical-nav class="nav-trigger--bottom" [clrVerticalNavCollapsible]="true">
            <app-side-nav></app-side-nav>
        </clr-vertical-nav>
    </main>
</div>
